<% form_tag({action: '/login', method: 'POST', id: "session_form", class: 'form-horizontal'}, function () { %>
	<div class="form-controls">
		<div class="control-group">
		   	<label for="username" class="control-label">Username</label>
		   	<div class="controls">
		   		<input type="text" name="username" value="" placeholder="">
		   	</div>
		</div>
		<div class="control-group">
			<label for="password" class="control-label">Password</label>
	   		<div class="controls">
    	   		<input type="password" name="password" value="" placeholder="">
	   		</div>
		</div>
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary"><i class='icon-ok icon-white'></i> Login</button>
	</div>
<% });%>
