<%- javascript_include_tag('home/index') %>
<div class="container">
  <img src='/images/bananabread.jpg' alt='mmmmm....' style="display:block;margin-right:auto;margin-left:auto;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;" />
</div>
